<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">SambaConvert - Uploads to S3 and converts a video for a web format</p>

  </div>
</header>

<div class="container">
  <div class="row">
      <div class="col-md-8">
        Upload and convert your file, follow the steps below!
      </div>
      <!-- The Upload Form -->
      <div class="col-md-8">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h3 class="panel-title">Step 1: Upload The File</h3>
              </div>
              <div class="panel-body">
                  <input class="bottom-marg-15" type="file" name="file" file></input>
                  <!-- Progress Bar -->
                  <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="{{ uploadProgress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ uploadProgress }}%;">
                          {{ uploadProgress == 0 ? '' : uploadProgress + '%' }}
                      </div>
                  </div><i class="fa fa-spinner fa-spin" ></i>
                  <a class="btn btn-primary btn-block btn-lg" ng-click="upload()">Upload</a>
              </div>
          </div>
      </div>

      <!-- Convert Form -->
      <div class="col-md-8">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h3 class="panel-title">Step 2: Convert The File</h3>
              </div>
              <div class="panel-body">

                  <a class="btn btn-primary btn-block btn-lg" ng-click="convert()">Convert</a>
              </div>
          </div>
      </div>

      <!-- Result Form -->
      <div class="col-md-8">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h3 class="panel-title">Step 3: Watch the video</h3>
              </div>
              <div class="panel-body">

                  <a ng-show="result" ng-href="{{result.encoded}}" target="_blank">Click here to watch the video</a>

              </div>
          </div>
      </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.1.1 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>
